@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

// Variables
$logo-max-width: 100%;

// Mixin
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

// Styles
body {
  margin: 0;
  padding: 0;
  font-family: 'Shrikhand', cursive;

  header {
    background-color: #FFFFFF;
    padding: 14px 108px 5px 105px;
    text-align: center;

    .logo {
        @include center;

      img {
        max-width: $logo-max-width;
        height: auto;
      }
    }
  }

  main {
    background-color:#D2D2D2;
    padding: 20px;
  }

  footer {
    background-color:#353535;
    padding: 20px;
    text-align: center;
  }
}
