@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Variables
$logo-max-width: 100%;

// Mixin
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

// Styles
body {
  margin: 0;
  padding: 0;
  font-family: 'Shrikhand', cursive;

  header {
    background-color: #FFFFFF;
    padding: 14px 108px 5px 105px;
    text-align: center;

    .logo {
        @include center;

      img {
        max-width: $logo-max-width;
        height: auto;
      }
    }
  }

  main {
    background-color:#D2D2D2;
    font-family: 'Roboto', cursive;
    .location {
      padding-top: 15.5px;
      padding-bottom: 15.5px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .icon {
        margin-right: 10px;
      }
    }
    .restaurant {
      background-color:#EAEAEA;
      .reservation {
        text-align: center;
        padding-top: 20px;
        font-size: 20px;
    
        .menu {
          margin-bottom: 10px;
        }
      }
      .conseil {
        margin-right: 34px;
        margin-left: 26px;
        text-align: center;
        margin-top: 20px;
        font-size: 16px;
    
        .soins {
          margin-bottom: 10px;
        }
      }
      .button{
        display: flex;
        justify-content: center;
        align-items: center;
        .btn {
          padding: 10px 20px;
          background-image: linear-gradient(to right, #FF79DA, #9356DC);
          color: #fff;
          border-radius: 10px;
          text-decoration: none;
          display: inline-block;
          transition: background-color 0.3s ease;
      
          &:hover {
            background-image: linear-gradient(to right, #7831A9, #E24FAD);
          }
        }
      }
      .fonctionnement{
        display: flex;
        justify-content: left;
        background-color: #FFFFFF;
        .titre{
          font-size: 24px;
          font-style: bold;
        }
      }
      .menu-fonctionnement{
        background-color: #FFFFFF;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        .contact {
          margin-top: 20px;
          margin-left: 32.51px;
          margin-right: 20px;
      
          .btn-contact {
            display: flex;
            align-items: center;
            flex-grow: 1;
            background-color: #F6F6F6;
            color: #000000;
            border-radius: 15px;
            text-decoration: none;
            transition: background-color 0.3s ease;
      
            &:hover {
              background-image: linear-gradient(to right, #7831A9, #E24FAD);
            }
      
            .icon {
              margin-right: 20px;
            }
          }
        }
      }
      .image-restaurant {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        position: relative;
        margin-right: 15px;
        margin-left:14px;
    
        .image {
          position : relative;
          width: 100%;
          height: auto;
          margin-right: 20px;
        }

        .new-badge {
          position: absolute;
          top: 0;
          right: 0;
          background-color: #4CAF50;
          color: #fff;
          padding: 5px 10px;
          font-size: 16px;
          font-weight: bold;
          border-radius: 4px;
        }
    
        .content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
    
        .title {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 10px;
        }
    
        .description {
          margin-bottom: 10px;
        }
    
        .heart-icon {
          color: red;
          font-size: 20px;
          margin-left: auto;
        }
      }
    }
  }

  footer {
    color:#FFFFFF;
    background-color:#353535;
    padding: 20px;
    text-align: center;
  }
}
