@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Variables
$logo-max-width: 100%;

// Mixin
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

// Styles
body {
  margin: 0;
  padding: 0;
  font-family: 'Shrikhand', cursive;

  header {
    background-color: #FFFFFF;
    padding: 14px 108px 5px 105px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .retour {
      width:30px;
      height:30px;
      position: absolute;
      display: flex;
      left:17px;
      align-items: center;
      font-size: 25px;
      margin-top: 16px;
    }
    .logo {
        @include center;
        margin-top: 16px;


      img {
        max-width: $logo-max-width;
        height: auto;
      }
    }
  }

  main {
    background-color:#EAEAEA;
    font-family: 'Roboto', cursive;
    .location {
      padding-top: 15.5px;
      padding-bottom: 15.5px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .icon {
        margin-right: 10px;
      }
    }
    .restaurant {
      background-color:#F6F6F6;
      .reservation {
        text-align: center;
        padding-top: 20px;
        font-size: 20px;
    
        .menu {
          font-size: 24px;
          font-weight: bold;
        }
      }
      .conseil {
        margin-right: 34px;
        margin-left: 26px;
        text-align: center;
        margin-top: 20px;
        font-size: 16px;
    
        .soins {

        }
      }
      .button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom:40px;
        .btn {
          padding: 10px 20px;
          width: 218px;
          height: 50px;
          background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          color: #fff;
          border-radius: 25px;
          margin-top: 20px;
          margin-bottom: 20px;
          border: none;
          font-weight: 500;
          font-size: 16px;
      
          &:hover {
            background-image: linear-gradient(to bottom, #F189E0, #BA77E0);
          }
        }
      }

      .fonctionnement{
        display: flex;
        justify-content: left;
        background-color: #FFFFFF;
        .titre{
          font-size: 24px;
          font-style: bold;
          margin-top:20px;
          margin-left:20px;
          font-weight: 700;
        }
      }
      .menu-fonctionnement{
        background-color: #FFFFFF;
        display:flex;
        flex-direction: column;
        align-items: left;
        justify-content:left;
        gap:20px;
        padding-bottom:70px;
        .contact {    
          margin-top: 20px;
          margin-left: 32.51px;
          margin-right: 20px;    
          .btn-contact {
            width: 100%;
            height: 72px;
            display: flex;
            border: none;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            background-color: #F6F6F6;
            color: #000000;
            border-radius: 20px;
            transition: background-color 0.3s ease;
            align-items: center;
            white-space: nowrap;
            gap:20px;
            
      
            &:hover {
              background-image: linear-gradient(to right, #7831A9, #E24FAD);
            }
      
            .icon {
              margin-left:30px;
            }
            .text-resto{
              font-size:16px;
            }
            .chiffre{
              position: absolute;
              transform: translateX(calc(-50% - 6px));
              background-color: #9356DC;
              color: #ffffff;
              border-radius: 50%;
              width: 30px;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: bold;
              font-size: 14px; 
            }
          }
        }
      }
      .restaurant-list{
        padding-top:55px;
        padding-left:20px;
        padding-right:20px;
      }
      .titre-restaurant{
        font-size: 24px;
        font-weight: 700;
      }
      .restaurant-link{
        text-decoration: none;
        color: inherit;
      }
      .image-restaurant {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        position: relative;
        background-color: #FFFFFF;
        border-radius:15px;
        overflow:hidden;
    
        .image {
          position: relative;
          width: 100%;
          height: 230px;
					object-fit: cover;
        }

        .image2{
          height:280px
        }

        .image-heart {
					position: absolute;
					top: 30px;
					right: 15px;
					width: 25px;
				}
				.image-heart.clear {
					opacity: 1;
				}
				.image-heart.full {
					opacity: 0;
				}

        .new-badge {
          position: absolute;
          top: 15px;
          right: 15px;
          background-color: #4CAF50;
          color: #fff;
          padding: 5px 10px;
          font-size: 16px;
          font-weight: bold;
          border-radius: 4px;
        }
        .description {
          margin-bottom: 10px;
          margin-left:16px;
          font-size:17px;
        }

        .heart-icon {
          position:absolute;
          top: 25px;
          right: 15px;
          color: white;
          font-size: 30px;
					margin-right: 25px;
					margin-bottom: 10px;
          margin-left: auto;    
          background-image: linear-gradient(to right, #FF79DA, #9356DC);     
        }

        .fa-heart {
          top: 25px;
          right: 15px;
          position:absolute;
          margin-right: 25px;
					margin-bottom: 10px;
          margin-left: auto;
          font-size: 30px;
        }
      }
    }
  }

  footer {
    color:#FFFFFF;
    background-color:#353535;
    padding: 20px;
      .titre-ohmyfood{
        font-family: 'Shrikhand', cursive;
        font-size: 27px;
      } 
      .liens-footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        margin-top: 20px;
        font-size: 16px;
        gap:5px;
        .titre-footer{
          font-size: 16px;
          font-family: 'Roboto', cursive;

          .fa-utensils{
            margin-right: 5px;
            font-size: 11,92px;
          }
          .fa-handshake{
            margin-right: 5px;
            font-size: 11px;
          } 
        }
      } 
       
  }

  .entree {
    text-align: left;
    margin-bottom: 20px;

    .titre-entree {
        font-size: 18px;
        font-weight: bold;
        position: relative;
        margin-left:17px;

        &:after {
          content: "";
          display: block;
          width: 50px;
          height: 2px;
          background-color: #99E2D0;
        }
    }
    .menu-entree {
      display: flex;
      background-color: #F6F6F6;
      border-radius: 15px;
      padding: 10px;
      margin-left:20px;
      margin-right:20px;
      margin-top:20px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

      .menu-entree-text{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        .text-entree-titre{
          font-weight:bold;
          font-size:18px;
        }
        .text-entree-prix{
          align-self: flex-end;
          white-space: nowrap;
        }
      }  
    }
  }

  .content{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom:20px;
    .content-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
  
      .title {
        font-size: 18px;
        font-weight: bold;
        margin-left:17px;
        font-family: 'Roboto';
      }
  
      .image-heart {
        width: 35px;
        position: absolute;
        top: 46%;
        transform: translateY(-50%);
        left: 80%; 
      }
  }
  
  }

  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    .btn {
      padding: 10px 20px;
      width: 218px;
      height: 50px;
      background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
      color: #fff;
      border-radius: 25px;
      margin-top: 20px;
      margin-bottom: 20px;
      border: none;
      font-weight: 500;
      font-size: 16px;
  
      &:hover {
        background-image: linear-gradient(to bottom, #F189E0, #BA77E0);
      }
    }
  }
}
